@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FCFCFC;
    font-family: 'Poppins';
}

@layer components {
    .nav-link {
        @apply relative font-medium text-black hover:text-blue-500 transition-colors text-[17px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px]
        after:bg-blue-500 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden cursor-pointer
    }

    .nav-link-mobile {
        @apply relative mb-[2rem] font-medium text-black hover:text-blue-500 transition-colors text-[20px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px]
        after:bg-blue-500 after:w-[250px] after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-500 after:origin-top-left cursor-pointer
    }

    .nav-link.active, .nav-link-mobile.active {
        @apply text-blue-500 after:scale-x-100;
    }
}
